<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    Muffinland unknown page <%= request.path %>
  </title>
</head>

<body>

<hr />

Welcome to Muffinland. Nothing with that name (yet).



<form method="post" action="">
  <p>Add muffin:
    <input type="text" name="MuffinContents" value="" >
    <input type="submit" name="Go" value="Go"></p>
</form>

</body>
</html>

