<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    New Muffinland
  </title>
</head>

<body>

<hr />

Welcome to Muffinland.



<form method="post" action="">
  <p>Add something, the first thing, at page <%= next_available_muffin_number %>:
    <input type="text" name="MuffinContents" value="" >
    <input type="submit" name="AddNewMuffin" value="AddNewMuffin"></p>
</form>


<hr />


<p> Tech notes:</p>
<p> Path sent in was "<%= path %>" </p>
<p> Params were <%= params %></p>

</body>
</html>

