<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    New Muffinland
  </title>
</head>

<body>

<hr />

Welcome to Muffinland.

<hr />



<form method="post" action="">
  <p>Add something, the first thing:
    <input type="text" name="MuffinContents" value="" >
    <input type="submit" name="Go" value="Go"></p>
</form>


</body>
</html>

