<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    New Muffinland
  </title>
</head>

<body>

<hr />

Welcome to Muffinland.

<hr />
  <p>Go ahead and add a muffin by text:  </p>
<form method="post" action="">
    <input type="text" name="MuffinContents" value="" >
    <br />  <input type="submit" name="Add" value="Add">
</form>
<p>or by file:  </p>
<form method="post" action=""
      enctype="multipart/form-data">
  <label for="file">Filename:</label>
  <input type="file" name="file" id="file"><br>
  <input type="submit" name="Upload" value="Upload">
</form>
<hr />



</body>
</html>

