<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    named page:
  </title>
</head>
<body>
<h1>It's a fetch of a named page</h1>
<p> Requesting to fetch "<%= page_name %>" page, with parameters <%= params %>.</p>
<p> "<%= inputValue %>"</p>
<p> </p>
<p>Tatty!</p>
</body>
</html>

