<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    Muffinland named page:
  </title>
</head>
<body>
<h1>It's a fetch of a named page</h1>
<p> Page <%= page_name %> (using parameters <%= params %>) has content:</p>
<p> "<%= inputValue %>"</p>
<p> </p>
<p>Tatty!</p>
</body>
</html>

