<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    Fetch 0:
  </title>
</head>
<body>
<h1>It's a fetch of 0</h1>
<p> Posting to "<%= path %>" page, with parameters <%= params %>.</p>
<p> "<%= inputValue %>"</p>
<p> </p>
<p>Tatty!</p>
</body>
</html>

