<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    Muffinland
  </title>
</head>
<body>

<p> muffin <%= show[:use_muffin_number] %> </p>

<%= show[:use_muffin_body] %>


<form method="post" action="">
  <p>Go ahead and add page
    <input type="text" name="MuffinContents" value="" >
    <br />  <input type="submit" name="Go" value="Go">
  </p>
</form>


</body>
</html>

