<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    Muffinland POST response
  </title>
</head>
<body>
<h1>It's a POST</h1>
<p> Post <%= size %> = "<%= inputValue %>"</p>
<p> "<%= path %>" & <%= params %>.</p>
<p> </p>
<p>Tatty!</p>
</body>
</html>

