<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    Muffinland numbered post
  </title>
</head>

<body>
<h1>enter something</h1>

<form method="post" action="">
  <p>POST number <%= post_number %>.</p>
  <p><input type="text" name="InputValue" value="content" ></p>
  <p><input type="submit" name="EnterButton" value="Enter"></p>
</form>

</body>
</html>
