<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    numbered post:
  </title>
</head>

<body>
<h1>enter something</h1>

<form method="post" action="">
  <p>You are about to create POST number <%= post_number %>.</p>
  <p><input type="text" name="InputValue" value="" ></p>
  <p><input type="submit" name="EnterButton" value="Enter"></p>
</form>

</body>
</html>
