<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    View 404: page not found
  </title>
</head>

<body>

    <p>Yo baby!  <br /> Hain't got
      <font color=blue>
      <%= @busted_path %>
      </font>
      here.</p>

</body>
</html>

