<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    View03: iterators in views
  </title>
</head>

<body>
    <% @testarray.each do |showme| %>
        <p> from testarray: <%= showme %> </p>
    <% end %>

    <p>Tatty!</p>

</body>
</html>

