<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    View02: passing instance var
  </title>
</head>

<body>
<p>testing with @ sign: <%= @testVarWithAt %></p>
<p>testing without @ sign: testVarNoAt doesn't work, need the @ </p>

<p>Tatty!</p>


</body>
</html>

